html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}
#searchForm {
  position: absolute;
  top: 6%;
  right: 2%;
}
.search {
  height: 25px;
  width: 275px;
  border: 2px solid #207cca;
  background: rgba(255, 255, 255, 1);
}

#locationList {
  position: absolute;
  right: 2%;
  top:10%;
  width: 320px;
  font-family: Georgia, Times, serif;
  font-size: 15px;
}

#locationList ul li {
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
  padding-left: 10px;
  cursor: pointer;
}
#locationList ul li:hover {
  color: #FFFFFF;
  background-repeat: repeat-x;
  background-color: #123455
}
