html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.highlighted {
  background-color: lightgreen;
}

.clear-pad {
  padding: 0;
  margin: 0;
}

.hide-button {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  -moz-box-shadow: inset 0px 1px 0px 0px #9acc85;
  -webkit-box-shadow: inset 0px 1px 0px 0px #9acc85;
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
  background: -moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background: -webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background: -o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background: -ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b', GradientType=0);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 9px 40px;
  text-decoration: none;
}
.hide-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
  background: -moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: -webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: -o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: -ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a', GradientType=0);
  background-color: #68a54b;
}
.hide-button:active {
  position: relative;
  top: 1px;
}
.search {
  position: relative;
  height: 25px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
}
.ui-section {
  position: absolute;
  right: 20px;
  top: 15px;
  overflow: hidden;
  width: 250px;
  padding-right: 5px;
}
.locations-list, .filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.locations-list {
  border: 3px solid #547c42;
  height: 75vh;
  max-height: 70vh;
  overflow-y: scroll;
  background-color: rgba(144, 144, 144, 0.4)
}


.location-item {
  font-family: sans-serif;
  background-color: #e0fdff;
  line-height: 25px;
  border-bottom: 1px solid #cccccc;
  padding: 5px 0px 5px 10px;
  cursor: pointer;
}
.location-item:hover {
  color: #FFFFFF;
  background-repeat: repeat-x;
  background-color: #123455
}

/* InfoWindow */
.locInfoWindow {
display: flex;
max-width: 300px;
max-height: 300px;
padding-right: 15px;
}

.iw-name {
  float: left;

}
.iw-icon {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 10px;
}
.iw-photo {
  width: 100%;
}

.iw-contacts {
display: inline-block;
  width: 50%;
}

.iw-hours {
  float: left;
  width: 50%;
}

.iw-comments-section {
  clear: both;
  padding-top: 10px;
}



/* Locations List */
.key-locations-title {
  position: relative;
  top: 5px;
  margin: 0 auto;
  font-family: sans-serif;
  color: white;
  background-color: #547c42;
  padding: 5px 0;
  background: -moz-linear-gradient(top, #588b41 5%, #65964f 100%);
  background: -webkit-linear-gradient(top, #588b41 5%, #65964f 100%);
  background: -o-linear-gradient(top, #588b41 5%, #65964f 100%);
  background: -ms-linear-gradient(top, #588b41 5%, #65964f 100%);
  background: linear-gradient(to bottom, #588b41 5%, #65964f 100%);
}

.filter-list li {
  display: inline-block;
  margin: 0 auto;


}
.filter-list {
  margin: 2px auto;
  text-align: center;
}

.filter-input {
  position: absolute;
  left: -9999px;
}
.filter-label {
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.75em;
  position: relative;
  padding: 5px 12px;
  width: 2.5em;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #7e7878;
  background-color: #383838;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}
.filter-label:hover, input:focus + label {
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
.filter-input:checked + label {
  background-color: #20c862;
  color: #fff;
}

/* App information tooltip */
.info-list {
  list-style-position: inside;
  padding-left: 0;
}

.info-list li {
  margin-bottom: 5px;
}

.icon.info {
  position: absolute;
  margin-top: 20px;
  right: 285px;
  display: inline-block;
  top: 0.15em;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border: none;
  border-radius: 0.5em;
  box-shadow: #999 0 1px 1px;
}

.icon.info:hover {
  cursor: pointer;
}
.icon.info::after, {
  display: block;
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Times New Roman", "Garamond", serif;
  font-size: 0.65em;
  color: white;
}
.icon.info {
  background-color: #33c;
}
.icon.info::after {
  font-style: italic;
  font-weight: bold;
  content: "i";
  color: white;
  margin-left: 5px;
}

::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
  background-color: #909090;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@media screen and (max-width: 750px) {
  .collapsable {
    display: none;
  }

  .iw-contacts {
    float: none;
    width: 100%;
  }

  .iw-hours {
    float: none;
    width: 100%;
  }
}
